{% set title = 'Profile' %}
{% import "form.html" as form %}
{% extends 'index.html' %}
{% block content %}
<div class="card card-shadow-3">
    <div class="profile-image-wrapper">
        <div class="profile-image">
            <img style="width: 100%; height: 100%" src="https://via.placeholder.com/150x150" alt="placeholder">
            <div class="overlay"></div>
            <div class="icon-camera"><span><i class="fa fa-camera" aria-hidden="true"></i></span></div>
            <input type="file" id="image-file" accept="image/*">
        </div>
    </div>
    <h2>INFORMATION</h2>
    <form>
        <div class="form-group">
            <label>Email</label>
            <input class="form-control" disabled type="email" name="email" value="{{user.emails.address}}">
        </div>
        <div class="form-group">
            <label>Name</label>
            <input class="form-control" type="text" name="name" value="{{user.profile.name}}">
        </div>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <input type="submit" value="Update" formaction="/account/update/profile" formmethod="post" class="btn btn-primary left"/>
        <a href="/account/changePassword" class="btn btn-primary right">Change Password</a>
        <div class="clearfix"></div>
    </form>
</div>

<script>
</script>
{% endblock %}