{% set title = 'Sign Up' %}
{% set hasHeader = true %}
{% import "form.html" as form %}
{% extends 'index.html' %}
{% block content %}
<form action="/account/resetPassword?verifyToken={{verifyToken}}" method="post">
    <div class="form-group">
        {{ form.label( 'Password', forName="password" ) }}
        {{ form.field( 'password', type='password', required="true") }}
    </div>
    <div class="form-group">
        {{ form.label( 'Re-Password', forName="repassword" ) }}
        {{ form.field( 'repassword', type='password', required="true") }}
    </div>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}