{% set title = 'Verify Phone Number' %}
{% set hasHeader = true %}
{% import "form.html" as form %}
{% extends 'index.html' %}
{% block content %}
<form method="post">
    <div class="form-group">
        {{ form.label( 'Code', forName="code" ) }}
        {{ form.field( 'code', type='text', required="true") }}
    </div>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <div class="row">
        <div class="col-sm-1 text-center">
            <button type="submit" formaction="/verify/phoneNumber/code" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-sm-1 text-center">
            <button type="submit" formaction="/verify/phoneNumber/resendCode" class="btn btn-primary" formnovalidate>Resend Code</button>
        </div>
    </div>
</form>
{% endblock %}