.card-shadow-3 {
    -webkit-box-shadow: 0 0px 0px rgba(0,0,0,.19), 0 3px 21px rgba(0,0,0,.23);
    -moz-box-shadow: 0 0px 0px rgba(0,0,0,.19), 0 3px 21px rgba(0,0,0,.23);
    -ms-box-shadow: 0 0px 0px rgba(0,0,0,.19), 0 3px 21px rgba(0,0,0,.23);
    -o-box-shadow: 0 0px 0px rgba(0,0,0,.19), 0 3px 21px rgba(0,0,0,.23);
    box-shadow: 0 0px 0px rgba(0,0,0,.19), 0 3px 21px rgba(0,0,0,.23);
}

div {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.card {
    background: #fff;
    border-radius: 2px;
    margin: 50px auto 50px;
    position: relative;
    padding: 15px;
}

.profile-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .card {
        width: 90%;
    }
}

@media (min-width: 768px) {
    .card {
        width: 70%;
    }
}

@media (min-width: 992px){
    .card {
        width: 50%;
    }
}

@media (min-width: 1200px) {
    .card {
        width: 50%;
    }
}